

<h1>投稿一覧</h1>
<div  class="border border-primary">
  
  
</div>
<div class="row">
    <% @posts.order(id: :desc).each do |post| %>
      <div class="card" style="width: 22rem;" id="card">
        <img class="card-img-top" alt="Card image cap"<%= image_tag(post.image&.url || '')%>
            <div class="card-header">
              <h5 class="card-title" id="card-post">
                <%= link_to post.title, post %>
              </h5>
              <% unless current_user == nil %>
                    <% if current_user.fav_now(post) #お気に入り解除%>
                        <%= form_with(model: current_user.favorites.find_by(post_id: post.id), local: true, method: :delete) do |f| %>
                          <%= hidden_field_tag :post_id, post.id %>
                          <%= link_to(favorites_path(post_id: post.id), method: :delete) do %>
                            <i class="fas fa-star"></i>
                          <% end %>
                        <% end %>
                    <% else#お気に入り %>
                        <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
                           <%= hidden_field_tag :post_id, post.id %>
                            <%= link_to(favorites_path(post_id: post.id), method: :post) do %>
                            <i class="far fa-star"></i>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <div class="card-body">
              <p class="card-text" id="card-post">
                <div>投稿者:<%= link_to User.find(post.user_id).name,user_path(post.user) %></div>
                <%= post.comment %>
              </p>
            </div>
          <% #タグの数だけループさせる %>
          <div class="card-footer " id="card-post">
            <% post.tags.each do |tag| %>
                  <%= link_to tag.name,find_tag_path(tag) ,class: "btn btn-primary",id:"tag-btn"%>
            <% end %>
          </div>

        </div>  
    <% end %>
    </div>
<br>

