
<div class="row" id="post-show">
    <div class="col-sm-8">
        <div>
          <%= image_tag @post.image.url,class:"card-img-top",alt:"Card image cap"%>
        </div>
        <% if current_user == @post.user %>
          <% post = @post%>
          <%= link_to 'Edit', edit_post_path(@post) %>
          
        <% end %>
    </div>
    <div class="col-sm-4">
          <div class="border border-primary show_field">
            
            投稿者:<%= link_to User.find(@post.user_id).name,user_path(@post.user_id) %>
            <br>タイトル:<%= @post.title %>
          </div>
          
          <div class="border border-primary show_field">
            <%= @post.comment %>
          </div>
          
        <div class="border border-primary show_field">
         <% #タグの数だけループさせる %>
            <% @post.tags.each do |tag| %>
              <div class="tag-box">
                    <%= link_to tag.name,find_tag_path(tag) ,class: "btn btn-primary btn-sm tag-btn-s"%>
                  <% if @post.tags.length > 1 && logged_in? %>
                    <%= link_to '×', tag_d_post_path(@post.id,tag_id: tag.id), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger btn-sm tag-btn-d" %>
                  <% end %>
              </div>
            <% end %>
        </div>
        <% if logged_in? %>
          <div class="border border-primary show_field">
            <h5>タグ追加</h5>
            <%= form_with(model: @tag, url: tags_post_path , method: :post) do |form| %>
              <div class="field">
                  <%= form.label :name,"タグ名" %>
                  <%= form.text_field :name ,:placeholder => "10文字以内" %>
                  <%= form.submit  "タグを追加する",class: "btn btn-primary btn-sm" %>
              </div>
            <% end %>
          </div>
        <% end %>
          <% unless current_user == nil %>
            <div class="border border-primary show_field">
                   <% if current_user.fav_now(@post) #お気に入り解除%>
                        <%= form_with(model: current_user.favorites.find_by(post_id: @post.id), local: true, method: :delete) do |f| %>
                          <% #hidden_field_tag :post_id, post.id %>
                          <%= link_to(favorites_show_path(post_id: @post.id), method: :delete) do %>
                            <i class="fas fa-star"></i>お気に入り解除
                          <% end %>
                        <% end %>
                    <% else#お気に入り %>
                        <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
                           <% #hidden_field_tag :post_id, post.id %>
                            <%= link_to(favorites_show_path(post_id: @post.id), method: :post) do %>
                            <i class="far fa-star"></i>お気に入り登録
                            <% end %>
                          <% end %>
                    <% end %>
            </div>
          <% end %>
          
    </div>
</div>
